[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:file:cpg_qc/_version.py]
search = __version__ = '{current_version}'
replace = {new_version}

[bumpversion:file:setup.py]
;search = version='{current_version}'
;replace = {new_version}
