# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

notebooks
.idea
.DS_Store
.ipynb_checkpoints/
.snakemake
hail-*.log
playground/
*.BAK

.env
libs
.vscode/

*.ipynb
nagim_qc.Rmd
