# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

playground/
.idea
.DS_Store
.ipynb_checkpoints/

hail-*.log
test_run*/
cromwell-executions/
data/
!test/data/
work/
.snakemake
test/data/resources/Homo_sapiens_assembly38.dict
test/data/resources/Homo_sapiens_assembly38.fasta
test/data/resources/Homo_sapiens_assembly38.fasta.fai
