name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: pre-commit
      run: |
        pip install pre-commit pylint
        pre-commit run --all-files
