# This workflow automatically tests the upload processor

name: Test Upload Processor
on: [push]
jobs:
  Test-Upload-Processor:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      DOCKER_IMAGE: australia-southeast1-docker.pkg.dev/analysis-runner/images/driver:43eb87b4f578d23bc7497a78b7257f8b117c289b-hail-0.2.64.dev1ba0649577df
      GSA_KEY: ${{ secrets.GCP_SA_KEY }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: gcloud setup
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: "analysis-runner"
          service_account_key: "${{ secrets.GCP_SA_KEY }}"

      - name: gcloud docker auth
        run: |
          gcloud auth configure-docker australia-southeast1-docker.pkg.dev

      - name: "test upload processor"
        run: |
          TOKEN=$(gcloud auth print-identity-token)
          URL=$(gcloud run services describe server-test --region australia-southeast1 --project analysis-runner --platform managed --format "value(status.url)")
          curl --fail --silent --show-error -X POST \
            -H "Authorization: Bearer $TOKEN" \
            -H "Content-Type:application/json" \
            -d '{"output": "gs://cpg-fewgenomes-temporary/upload-main", "dataset": "fewgenomes", "accessLevel": "test", "repo": "joint-calling", "commit": "${{ github.sha }}", "cwd": null, "script": ["python3", "-m", "unittest", "test.test_upload_processor"], "description": "test-file", "wait": true}' \
            $URL
